<nav class="navbar navbar-expand-md bg-dark navbar-dark" *ngIf="this.nav == false">
	<a class="navbar-brand" href="#">KRSA</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item nav-option">
			  <a class="nav-link bold" routerLink="/login" routerLinkActive="active">Login</a>
			</li>
			<li class="nav-item nav-option">
			  <a class="nav-link bold" routerLink="/signup" routerLinkActive="active">Signup</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="navbar navbar-expand-md bg-dark navbar-dark" *ngIf="this.nav == true">
	<a class="navbar-brand" href="#">KRSA</a>
	<button class="navbar-toggler" type="button" (click)="this.isCollapsed = !this.isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_2" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar_2" [ngbCollapse]="this.isCollapsed">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item nav-option bold">
			  <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
			</li>
			<li class="nav-item nav-option bold">
			  <a class="nav-link mouseover" routerLink="/logout" routerLinkActive="active">Logout</a>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>
<!-- <app-login></app-login> -->